@model Product

<div class="container my-5">
    <div class="border rounded-4 shadow-lg p-5 bg-white">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img class="img-fluid shadow rounded-3 p-4 my-3" src="@Model?.ImageUrl" alt="@Model.ProductName" />
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-start px-4">
                <h2 class="fw-bold mb-3 mt-4">@Model.ProductName</h2>
                <p class="h4 text-danger mb-4 fw-bold">@Model.Price.ToString("c")</p>

                <div class="d-flex flex-wrap gap-3">
                    <a class="btn btn-outline-secondary btn-lg" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house"></i> Home
                    </a>

                    <a class="btn btn-outline-secondary btn-lg" asp-controller="Product" asp-action="Index">
                        <i class="fa-solid fa-list"></i> Products
                    </a>

                    <form id="@Model.ProductId" asp-page="/cart" method="post">
                        <input type="hidden" asp-for="ProductId" />
                        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <button type="submit" class="btn btn-outline-primary btn-lg btn-warning">
                            <i class="fa fa-cart-plus"></i> Add To Cart
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Top {

}
